<header>
  <nav class = "navbar navbar-inverse">
    <div class="navbar-header">
      <a href="/" class ="navbar-brand">Angular Rocks!!! </a>
    </div>
  </nav>
</header>
<main>
  <div class= "row">
    <div class = "col-sm-4">
      <div *ngIf ="users">
        <ul class="list-group users-list">
          <li class="list-group-item" *ngFor = "let user of users"
            (click)="selectUser(user)"
            [class.active]="user === activeUser">
             The User is : {{ user.name }}({{user.username}})
           </li>
        </ul>
      </div>
      <user-form (userCreated)="onUserCreated($event)"></user-form>
    </div>

    <div class= "col-sm-8">
      <profile [user]="activeUser" (userDeleted)="onUserDeleted($event)" ></profile>
      <div class="jumbotron" *ngIf="!activeUser">
        <span class="glyphicon glyphicon-hand-left"></span>
        <h2>Edit User Details</h2>
      </div>
    </div>

  </div>
</main>

<footer class="text-center">
  Copyright &copy; 2016
</footer>
